.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.form__input {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
}