.button {
    padding: 10px;
    height: 50px;
    min-width: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 20px;
}

.button:hover {
    background: rgb(222, 222, 222);
}
